html, body, .App, #root {
  width: 100%;
  height: 100%;
  background-color: #EEE;
}

.area:hover {
  fill: steelblue;
}

.zoom {
  cursor: move;
  fill: none;
  pointer-events: all;
}

nav .btn {
  margin: 15px;
}

.app-container {
  display: flex;
  flex-flow: row wrap;
  flex-direction: column;
}

.app-container > * {
  flex: 1 100%;
}

.monitor-view-container {
  display: flex;
}

/* .monitor-selectors {
  background: linear-gradient(#d48fc7, #6c8cd6);
} */

/*
.monitor-selectors .dropdown {
  text-align: left;
  padding: 30px;
} */

.monitor-selectors li {
  list-style-type: none;
  display: inline-block;
  background-color: #EEE;
  padding: .5em .9em;
  margin: .5em;
  border-radius: 3px;
  font-size: 11px;
}

.dropdown-item {
  padding: 0;
}

.dropdown-item.group-header {
  font-weight: bold;
}

.dropdown-item a {
  display:block;
  width: 100%;
  height: 100%;
  padding: .25rem 1.5rem;
}

.dropdown-item.group-member a {
  padding-left: 3.2em;
  font-size: .8em;
}

.monitor-selectors {
  text-align: left;
  background-color: #FFF;
  border-bottom: 1px solid #DDD;
  z-index:2;
}

.monitor-selector-headings {
  display: inline-block;
}

.dropdown-toggle {
  text-align:left;
  border-radius: 0px;
  background-color: #FFF;
  color: #000;
  border: 0;
  margin: .8em;
}

.dropdown-toggle:hover {
  background-color: #EEE;
  color: #000;
}

.dropdown-toggle .small {
  font-size: .8em;
}

.dropdown-toggle h4,
.dropdown-toggle h5 {
  margin: 0;
}

.dropdown-toggle h5 {
  font-size: 1em;
  color: #999;
  margin:.3em 0;
}
.dropdown-toggle h4 {
  font-size: 1.2em;
  margin-bottom: .3em;
}

.menu-view-list {
  z-index: 1;
  flex: 1 auto;
  list-style-type: none;
  text-align: left;
  margin:0;
  padding:0;
  width: 200px;
  border-right: 1px solid #DDD;
  background-color: #FFF;
  box-shadow: 0 0 5px 0 rgba(0,0,0,0.35);
  overflow: hidden;
}

.menu-view-list div {
  padding: 0;
  margin: 0;
  border-bottom: 1px solid #DDD;
  font-size: .8em;
  color: #666;
}

.menu-view-list a {
  padding:1em;
  display:block;
}

.menu-view-list div:hover {
  cursor: pointer;
  background-color: #DDD;
}

.monitor-body {
  flex: 20 0px;
}

.tooltip {
  background-color: #EEE;
  border-radius: 5px;
  padding: 4px;
}

.dashboard-element-white {
  background-color: #FFF;
  padding: 1em;
  box-shadow: 0 0 5px 0 rgba(0,0,0,0.35);
  margin:1em;
}

.stat-box {
  font-size: 1.2em;
  display: inline-block;
  width: 100px;
  margin: 10px;
}

.stat-box h5 {
  font-size: .6em;
}

.bar-rect {
  fill: #000;
}

.bar-rect:hover {
  fill: #dcbe00;
}
